.card_wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 90%;
  padding: 30px 28px;
  grid-gap: 3rem;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #f5e9cf9c;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  height: 100%;

  &:hover {
    transform: scale(1.03);
    background-color: #f5e9cf;
  }
}

.card-content {
  padding: 20px;
  flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .card_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Medium screens */
  }
}

@media screen and (max-width: 768px) {
  .card_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Small screens */
    
  }
}

@media screen and (min-width: 1200px) {
  .card_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Large screens */
  }
}