.enlarged-event-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(5px);
  overflow-y: auto;
}

.enlarged-event-container {
  position: relative;
  width: 800px;
  max-width: 800px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 2001;
  animation: scaleUp 0.3s ease-in-out forwards;
}

.enlarged-event-content {
  padding-bottom: 50px;
}

.close-button {
  z-index: 3000;
  position: fixed;
  top: 1%;
  right: 1%;
  background: transparent;
  border: none;
  font-size: 1.5em;
  color: beige;
  cursor: pointer;
}

.event-container a:visited {
  color: black;
}

.enlarged-event-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: #000;
  color: white;
  padding: 20px;
  opacity: 0.9;
  border-radius: 0 0 6px 6px;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .enlarged-event-container {
    width: 90%;
    min-height: 300px;
    padding: 0;
  }

  .event-container {
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 767px) {
  .enlarged-event-overlay {
    position: fixed;
  }

  .enlarged-event-content {
    padding: 0;
  }
}