.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%; 
  order: 2;
}

.search-input {
  padding: 0.5rem;
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 20rem; 
  transition: all 0.3s;
}

.search-button {
  background-color: #2F58CD;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
}

.search-input:focus,
.search-button:hover {
  background-color: #334653;
  color: white
}
